# Lombok configuration file
# Configures Lombok behavior for the entire project

# Configure the logger field name to be 'LOGGER' instead of 'log'
lombok.log.fieldName = LOGGER

#
## Configure the logger to be static and final
#lombok.log.fieldIsStatic = true
#
## Configure the logger to use SLF4J (default, but explicit)
#lombok.log.slf4j.flagUsage = allow
#
## Configure other logging frameworks
#lombok.log.apacheCommons.flagUsage = warning
#lombok.log.javaUtilLogging.flagUsage = warning
#lombok.log.log4j.flagUsage = warning
#lombok.log.log4j2.flagUsage = warning
#
## Other useful Lombok configurations
## Add null check for setter parameters
#lombok.nonNull.exceptionType = IllegalArgumentException
#
## Configure builder to use singular names for collections
#lombok.singular.useGuava = false
#lombok.singular.auto = true
#
## Disable some potentially problematic features
#lombok.anyConstructor.addConstructorProperties = false
#
## Enable/disable features
#lombok.accessors.fluent = false
#lombok.accessors.chain = false
#
## Configure toString behavior
#lombok.toString.includeFieldNames = true
#lombok.toString.doNotUseGetters = false
#
## Configure equals and hashCode behavior
#lombok.equalsAndHashCode.doNotUseGetters = false
