spring:
  application:
    name: WorldEditor
  data:
    mongodb:
      uri: mongodb://root:example@localhost:27017/world_editor?authSource=admin
      database: world_editor

server:
  port: 9061
  error:
    include-message: always
    include-binding-errors: always
    include-exception: true
    include-stacktrace: always

logging:
  level:
    root: INFO
    de.mhus.nimbus: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info

