spring:
  application:
    name: WorldEditor
  data:
    mongodb:
      uri: mongodb://root:example@localhost:27017/world?authSource=admin
      database: world

server:
  port: 9043
  error:
    include-message: always
    include-binding-errors: always
    include-exception: true
    include-stacktrace: always

logging:
  level:
    root: INFO
    de.mhus.nimbus: DEBUG

management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,readyness,readiness
