name: Build Server

on:
  push:
    paths:
      - 'server/**'
      - '.github/workflows/build-server.yml'
  pull_request:
    paths:
      - 'server/**'
      - '.github/workflows/build-server.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Skip build if commit message starts with wip
        if: github.event_name == 'push' && startsWith(github.event.head_commit.message, 'wip:') || github.event_name == 'pull_request' && startsWith(github.event.pull_request.title, 'wip:')
        run: |
          echo "Build skipped due to wip: commit message."
          exit 0
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Build Plugins with Maven
        run: cd plugins;mvn -B install -DskipTests
      - name: Build with Maven
        run: mvn -B install
